# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.9.2
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-common-0.8.5-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/blas-1.0-openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/bzip2-1.0.8-h80987f9_6.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/c-ares-1.19.1-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ca-certificates-2024.9.24-hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/giflib-5.2.2-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jpeg-9e-h80987f9_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlicommon-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libcxx-14.0.6-h848a8c0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libdeflate-1.17-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libev-4.33-h1a28f6b_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libffi-3.4.4-hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libiconv-1.16-h80987f9_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libjpeg-turbo-2.0.0-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsodium-1.0.18-h27ca646_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-base-1.3.2-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/llvm-openmp-14.0.6-hc6e5704_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ncurses-6.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2024b-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/utf8proc-2.6.1-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xxhash-0.8.0-h1a28f6b_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xz-5.4.6-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/yaml-0.2.5-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zlib-1.2.13-h18a0788_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-cal-0.5.20-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-compression-0.2.16-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-sdkutils-0.1.6-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-checksums-0.1.13-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/expat-2.6.3-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gflags-2.2.2-h313beb8_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/icu-73.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lerc-3.0-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libabseil-20240116.2-cxx17_h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlidec-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlienc-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libedit-3.1.20230828-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran5-11.3.0-h009349e_28.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpng-1.6.39-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lz4-c-1.9.4-h313beb8_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openssl-3.4.0-h39f12f2_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/re2-2022.04.01-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/readline-8.2-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/snappy-1.2.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tk-8.6.14-h6ba3021_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zeromq-4.3.5-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-io-0.13.10-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-bin-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/freetype-2.12.1-h1192e45_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/glog-0.5.0-h313beb8_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/krb5-1.20.1-hf3e1bf2_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libevent-2.1.12-h02f6b3c_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran-5.0.0-11_3_0_hca03da5_28.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libnghttp2-1.57.0-h62f6fdd_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libprotobuf-4.25.3-h514c7bf_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libssh2-1.11.0-h3e2b118_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/sqlite-3.45.3-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zstd-1.5.6-hfb09047_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-event-stream-0.2.15-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-http-0.6.25-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-1.0.9-h80987f9_8.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libboost-1.82.0-h0bc93f9_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libcurl-8.9.1-h3e2b118_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgrpc-1.62.2-h62f6fdd_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libopenblas-0.3.21-h269037a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libtiff-4.5.1-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/orc-2.0.1-h937ddfc_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/python-3.12.7-h99e199e_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aiohappyeyeballs-2.4.0-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/appnope-0.1.4-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/attrs-24.2.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-auth-0.6.19-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-mqtt-0.7.13-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/boost-cpp-1.82.0-h48ca7d4_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-python-1.0.9-py312h313beb8_8.conda
https://conda.anaconda.org/conda-forge/noarch/cached_property-1.5.2-pyha770c72_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/certifi-2024.8.30-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-3.3.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/click-8.1.7-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.6-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/cycler-0.11.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/debugpy-1.6.7-py312h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/noarch/decorator-5.1.1-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/defusedxml-0.7.1-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/dill-0.3.8-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/entrypoints-0.4-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/exceptiongroup-1.2.2-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/executing-0.8.3-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/filelock-3.13.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/frozenlist-1.5.0-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/fsspec-2024.3.1-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/hpack-4.0.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/hyperframe-6.0.1-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/idna-3.7-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/joblib-1.4.2-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/json5-0.9.28-pyhff2d567_0.conda
https://conda.anaconda.org/conda-forge/noarch/jsonpointer-2.0-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/jupyterlab_widgets-3.0.10-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/kiwisolver-1.4.4-py312h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lcms2-2.12-hba8e193_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-1.3.2-ha3663a8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/markupsafe-2.1.3-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/mistune-3.0.2-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/mpmath-1.3.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/multidict-6.1.0-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/nest-asyncio-1.6.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/networkx-3.3-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-base-1.26.4-py312he047099_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/openjpeg-2.5.2-h54b8e55_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/packaging-24.1-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/pandocfilters-1.5.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/parso-0.8.3-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/pkgutil-resolve-name-1.3.10-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/platformdirs-4.3.6-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/prometheus_client-0.21.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/psutil-5.9.0-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/noarch/ptyprocess-0.7.0-pyhd3eb1b0_2.conda
https://repo.anaconda.com/pkgs/main/noarch/pure_eval-0.2.2-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.22-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pygments-2.15.1-py312hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyobjc-core-10.1-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyparsing-3.2.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pysocks-1.7.1-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-fastjsonschema-2.20.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-json-logger-2.0.7-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-tzdata-2023.3-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/python-xxhash-2.0.2-py312h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pytz-2024.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyyaml-6.0.2-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyzmq-25.1.2-py312h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/regex-2024.9.11-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/rfc3986-validator-0.1.1-pyh9f0ad1d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/rpds-py-0.10.6-py312hf0e4da2_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/safetensors-0.4.5-py312h4109493_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/setuptools-75.1.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_1.conda
https://conda.anaconda.org/conda-forge/noarch/sniffio-1.3.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/soupsieve-2.5-pyhd8ed1ab_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/threadpoolctl-3.5.0-py312h989b03a_0.conda
https://conda.anaconda.org/conda-forge/noarch/tomli-2.1.0-pyhff2d567_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tornado-6.4.1-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/traitlets-5.14.3-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/types-python-dateutil-2.9.0.20241003-pyhff2d567_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing_extensions-4.11.0-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/typing_utils-0.1.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/unicodedata2-15.1.0-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/uri-template-1.3.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/wcwidth-0.2.5-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/webcolors-24.8.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/webencodings-0.5.1-pyhd8ed1ab_2.conda
https://conda.anaconda.org/conda-forge/noarch/websocket-client-1.8.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wheel-0.44.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/widgetsnbextension-4.0.10-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.21.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/aiosignal-1.2.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/anyio-4.6.2.post1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/asttokens-2.0.5-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/async-lru-2.0.4-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-c-s3-0.1.51-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/babel-2.16.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/beautifulsoup4-4.12.3-pyha770c72_0.conda
https://conda.anaconda.org/conda-forge/noarch/bleach-6.2.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/cached-property-1.5.2-hd8ed1ab_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/cffi-1.17.1-py312h3eb5a62_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/comm-0.2.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/fonttools-4.51.0-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/h11-0.14.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/h2-4.1.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/importlib-metadata-8.5.0-pyha770c72_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib_resources-6.4.5-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jedi-0.19.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jinja2-3.1.4-py312hca03da5_1.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_core-5.7.2-pyh31011fe_1.conda
https://conda.anaconda.org/conda-forge/noarch/jupyterlab_pygments-0.3.0-pyhd8ed1ab_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libthrift-0.15.0-h73c2103_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/matplotlib-inline-0.1.6-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/multiprocess-0.70.15-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-1.26.4-py312h7f4fdc5_0.conda
https://conda.anaconda.org/conda-forge/noarch/overrides-7.7.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pexpect-4.8.0-pyhd3eb1b0_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pillow-11.0.0-py312hfaf4e14_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pip-24.2-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/prompt-toolkit-3.0.43-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyobjc-framework-cocoa-10.1-py312hb094c41_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/python-dateutil-2.9.0post0-py312hca03da5_2.conda
https://conda.anaconda.org/conda-forge/noarch/referencing-0.35.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/rfc3339-validator-0.1.4-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/sympy-1.13.2-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/terminado-0.18.1-pyh31c8845_0.conda
https://conda.anaconda.org/conda-forge/noarch/tinycss2-1.4.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.67.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing-extensions-4.11.0-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/urllib3-2.2.3-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/yarl-1.11.0-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aiohttp-3.10.5-py312h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/argon2-cffi-bindings-21.2.0-py312h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/arrow-1.3.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-crt-cpp-0.18.16-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/bottleneck-1.4.2-py312ha86b861_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/contourpy-1.2.0-py312h48ca7d4_0.conda
https://conda.anaconda.org/conda-forge/noarch/fqdn-1.5.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/httpcore-1.0.7-pyh29332c3_1.conda
https://conda.anaconda.org/conda-forge/noarch/jsonschema-specifications-2024.10.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_client-8.6.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_server_terminals-0.5.3-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/nltk-3.9.1-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numexpr-2.10.1-py312h5d9532f_0.conda
https://repo.anaconda.com/pkgs/main/noarch/prompt_toolkit-3.0.43-hd3eb1b0_0.conda
https://conda.anaconda.org/pytorch-nightly/osx-arm64/pytorch-2.6.0.dev20241112-py3.12_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/requests-2.32.3-py312hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/scipy-1.14.1-py312ha409365_0.conda
https://conda.anaconda.org/conda-forge/noarch/send2trash-1.8.3-pyh31c8845_0.conda
https://repo.anaconda.com/pkgs/main/noarch/stack_data-0.2.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/argon2-cffi-23.1.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aws-sdk-cpp-1.10.55-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/noarch/httpx-0.27.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/huggingface_hub-0.24.6-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ipython-8.27.0-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/isoduration-20.11.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jsonschema-4.23.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/matplotlib-base-3.9.2-py312h2df2da3_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pandas-2.2.2-py312hd77ebd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/scikit-learn-1.5.1-py312hd77ebd4_0.conda
https://conda.anaconda.org/pytorch-nightly/osx-arm64/torchaudio-2.5.0.dev20241117-py312_cpu.tar.bz2
https://conda.anaconda.org/pytorch-nightly/osx-arm64/torchvision-0.20.0.dev20241117-py312_cpu.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/accelerate-1.1.1-pyhff2d567_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/arrow-cpp-16.1.0-hbc20fb2_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ipykernel-6.29.5-py312hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ipywidgets-8.1.2-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/jsonschema-with-format-nongpl-4.23.0-hd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/matplotlib-3.9.2-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/nbformat-5.10.4-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tokenizers-0.20.1-py312h654b0c7_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_events-0.10.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/nbclient-0.10.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyarrow-16.1.0-py312hd77ebd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/datasets-2.19.1-py312hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/nbconvert-core-7.16.4-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_server-2.14.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/transformers-4.45.2-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter-lsp-2.2.5-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyterlab_server-2.27.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/notebook-shim-0.2.4-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyterlab-4.3.1-pyhff2d567_0.conda
